<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/blog" routerLinkActive="active">
                <mat-icon>textsms</mat-icon>
                <span>IKAR-blog</span>
            </button>
            <button mat-menu-item routerLink="/kontakt" routerLinkActive="active">
                <mat-icon>call</mat-icon>
                <span>Kontakt</span>
            </button>
            <button mat-menu-item routerLink="/oferty" routerLinkActive="active">
                <mat-icon>local_offer</mat-icon>
                <span>Oferty</span>
            </button>
        </mat-menu>
        <span class="spacer"></span>
        <div *ngIf="auth.afAuth.authState | async as user; else showLogin">
            <button mat-button [matMenuTriggerFor]="menu">Twórz</button>
            <mat-menu #menu="matMenu">
                <button mat-raised-button color="accent" routerLink="/dashboard">Napisz Post</button>
                <button mat-raised-button color="accent" routerLink="/offer_dashboard">Utwórz ofertę</button>
            </mat-menu>

            <!--  <span>Witaj {{user.displayName}}</span>-->
            <button mat-button (click)="auth.logout()">Wyloguj się</button>
        </div>
        <ng-template #showLogin>
            <button mat-button (click)="auth.login()">Zaloguj się</button>
        </ng-template>
    </mat-toolbar-row>
</mat-toolbar>
