<ng-container *ngIf="post">
    <div [hidden]="!editing">
        <mat-card>
            <h2>Edycja posta: </h2>
            <mat-form-field>
                <input matInput placeholder="Tytuł" [(ngModel)]="post.title">
            </mat-form-field>
            <br>
            <ckeditor [editor]="Editor" [(ngModel)]="post.content"></ckeditor>
            <br>
            <mat-form-field>
                <input matInput placeholder="Adres link" [(ngModel)]="post.linkAddress">
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput placeholder="Tytuł linku" [(ngModel)]="post.linkText">
            </mat-form-field>
            <br>
            <button mat-raised-button color="accent" (click)="updatePost()">Zapisz</button>
            <button mat-button (click)="editing=false">Anuluj</button>
        </mat-card>
    </div>

    <div [hidden]="editing">
        <mat-card>
            <img src="{{post.image}}" alt="{{post.title}}">
            <p><small *ngIf="post.published">Post napisany przez: {{post.author}}
                dnia:  {{post.published.toDate() | date: 'short'}}</small></p>
            <mat-card-content>
                <h3>{{post.title}}</h3>
                <p [innerHTML]="post.content"></p>
                <a mat-raised-button color="primary" href="{{post.linkAddress}}" target="_blank">{{post.linkText == '' ? reserveLinkText : post.linkText}}</a>
            </mat-card-content>
            <mat-card-actions align="end" *ngIf="auth.currentUserId === post.authorId">
                <button mat-icon-button (click)="editing=true">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="delete()">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</ng-container>
